USE 教務系統 
GO
INSERT INTO 生日_檢視_有主鍵 
VALUES ('S016', '江峰', '1999-10-01' )
GO
SELECT * FROM 學生







 































































