USE 教務系統 
GO
DELETE 生日_檢視_沒有主鍵 
WHERE 姓名='陳會安'
GO
SELECT * FROM 學生











 































































