USE 教務系統 
GO
UPDATE 生日_檢視_有主鍵 
SET 生日 = '2000-10-01' WHERE 學號 = 'S016'
GO
SELECT * FROM 學生









 































































