USE 教務系統 
GO
UPDATE 生日_檢視_沒有主鍵 
SET 生日 = '1998-10-01' WHERE 姓名 = '江峰' 
GO
SELECT * FROM 學生










 































































