USE 教務系統 
GO
CREATE VIEW 生日_檢視_沒有主鍵 AS
SELECT 姓名, 生日 FROM 學生 
WITH CHECK OPTION






 































































