USE 教務系統 
GO
DELETE FROM 生日_檢視_有主鍵
WHERE 學號='S016'
GO
SELECT * FROM 學生










 































































