USE 教務系統 
GO
CREATE VIEW 生日_檢視_有主鍵 AS
SELECT 學號, 姓名, 生日 FROM 學生 
WITH CHECK OPTION





 































































